body{
    width: 1512;
    height: 1048;
  }
  .container{
    display: flex;
  }
  
  .sidebar{
    width: 77px;
    background: whitesmoke;
  }
  
  .header{
    height: 88px;
    background: gray;
  }
  .table{
    display: flex;
  }
  .table__left{
    width: 312px;
    height: 960px;
  }
  .table__search{
    width: 264px;
    margin-top: 16px;
  }
  .ant-input-affix-wrapper{
    border-radius:8px;
  }
  .table__card{
    width: 264px;
    height: 113px;
    margin: 12px 0px;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }
  .table__card:active{
    border: 2px solid #0085FF;
  }
  .table__card:hover{
    border: 2px solid #0085FF;
  }

  .card__detail{
      display: flex;
      justify-content: space-around;
      margin-top: 12px
  }
  .card__detail__stt{
      background: rgba(255, 150, 27, 0.1);
      padding: 0 6px;
  }
  .table__right{
    width: 1128px;
    height: 960px;
  }
.dropdown{
  display: flex;
  justify-content: space-between;
}
  .dropdown button{ 
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 0 0 0 12px;
  }
  .dropdow__left{
    display: flex;
  }
  .dropdown__page{
    display: flex;
  }
  .dropdown__page p{
    line-height: 34px;
  }
  .table__right__top{
    display: flex;
    justify-content: space-between;
  }

  .top__right{
    display:flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-top: 36px;
  }
  .balance{
    margin-right: 20px;
  }
  .ant-btn-circle{
    margin-top: 20px;
  }