body{
    width: 1512;
    height: 1048;
  }
  .container{
    display: flex;
  }
  
  .sidebar{
    width: 77px;
    background: whitesmoke;
  }
  
  .header{
    height: 88px;
    background: gray;
  }
  .table{
    display: flex;
  }