.table__left{
    width: 312px;
    height: 960px;
    margin: 24px 0 0 87px ;
    color: #969696;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  .table__left p {
    font-size: 12px;
  }
  .table__search{
    width: 264px;
    margin-top: 16px;
    font-size: 16px;

  }
  .ant-input-affix-wrapper{
    border-radius:8px;
  }
  